/* --------- fonts --------- */
/* --------- fonts --------- */
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype'), url('../fonts/font-webfont.svg#elektra_light_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_medium_proitalic';
  src: url('../fonts/elektra_medium_pro_italic-webfont.eot');
  src: url('../fonts/elektra_medium_pro_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_medium_pro_italic-webfont.woff2') format('woff2'), url('../fonts/elektra_medium_pro_italic-webfont.woff') format('woff'), url('../fonts/elektra_medium_pro_italic-webfont.ttf') format('truetype'), url('../fonts/elektra_medium_pro_italic-webfont.svg#elektra_medium_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype'), url('../fonts/elektra_light_pro-webfont.svg#elektra_light_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_medium_proregular';
  src: url('../fonts/elektra_medium_pro-webfont.eot');
  src: url('../fonts/elektra_medium_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_medium_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_medium_pro-webfont.woff') format('woff'), url('../fonts/elektra_medium_pro-webfont.ttf') format('truetype'), url('../fonts/elektra_medium_pro-webfont.svg#elektra_medium_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.electra {
  font-family: 'elektra_medium_proregular';
}
.electra_bold {
  font-family: 'elektra_light_probold';
}
.electra_light {
  font-family: 'elektra_light_proregular';
}
.electra_italic {
  font-family: 'elektra_medium_proitalic';
}
/* --------- colors --------- */
/* --------- mixins --------- */
.inlineblock {
  display: inline-block;
  vertical-align: top;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- custom mixins --------- */
/* --------- main content --------- */
.page__content {
  width: 740px;
  float: right;
}
.slider__item {
  position: relative;
}
.slider__description {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 76px;
  background: url("../img/bg/slider-description.png") 0 0 repeat;
}
.slider__description-inner {
  padding: 14px 24px;
}
.slider__description-title {
  margin-bottom: 5px;
}
.slider__description-title a {
  font-size: 18px;
  line-height: 20px;
  color: #00b9fe;
  font-family: 'elektra_light_proregular';
}
.slider__description-text {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-family: 'elektra_light_proregular';
}
.slider__img {
  display: block;
}
.slider {
  position: relative;
  margin-bottom: 33px;
}
.slider .bx-prev,
.slider .bx-next {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 34px;
  margin-top: -47px;
  background: url("../img/elements/slider_controls.png") 0 0 no-repeat;
  color: #5c7b98;
  font-family: 'elektra_light_probold';
  text-decoration: none;
  line-height: 34px;
}
.slider .bx-prev:hover,
.slider .bx-next:hover {
  color: #ffffff;
}
.slider .bx-prev {
  left: 13px;
  background-position: 0 0;
  padding-right: 9px;
  text-align: right;
}
.slider .bx-prev:hover {
  background-position: 0 bottom;
}
.slider .bx-next {
  right: 13px;
  background-position: right 0;
  padding-left: 9px;
}
.slider .bx-next:hover {
  background-position: right bottom;
}
.page-title {
  text-align: center;
  overflow: hidden;
}
.page-title .page-title__text {
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  color: #5c7b98;
  position: relative;
  padding: 0 15px;
}
.page-title .page-title__text:before,
.page-title .page-title__text:after {
  content: "";
  display: block;
  height: 1px;
  width: 2000px;
  background: #5c7b98;
  top: 50%;
  margin-top: -1px;
  position: absolute;
}
.page-title .page-title__text:before {
  left: 100%;
}
.page-title .page-title__text:after {
  right: 100%;
}
/* --------- products --------- */
.products {
  margin-bottom: 33px;
}
.products__list {
  margin-left: -25px;
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.products__list:before,
.products__list:after {
  content: "";
  display: table;
}
.products__list:after {
  clear: both;
}
.products__item {
  float: left;
  margin-left: 25px;
  width: 228px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #dbe2eb;
  list-style-type: none;
}
.products__item:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.products__item:hover .product__title-text {
  color: #613993;
}
.products__item-inner {
  padding: 20px 14px 5px;
  display: block;
}
.products__title {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-bottom: 16px;
}
.products__title:before,
.products__title:after {
  content: "";
  display: table;
}
.products__title:after {
  clear: both;
}
.products__title-pic {
  float: left;
  width: 82px;
  height: 90px;
  position: relative;
}
.products__title-pic img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.products__title-text--wrap {
  float: right;
  width: 115px;
}
.product__title-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 115px;
  height: 90px;
  font-size: 15px;
  line-height: 17px;
  color: #00b9fe;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.products__options-item {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-bottom: 5px;
}
.products__options-item:before,
.products__options-item:after {
  content: "";
  display: table;
}
.products__options-item:after {
  clear: both;
}
.products__options-key,
.products__option-value {
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #5c7b98;
  width: 90px;
  text-align: left;
}
.products__option-value {
  width: 100px;
  float: right;
}
.feedback__row-select {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
.feedback__row-select.opened .selectbox__display {
  border-bottom: 0 none;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom: 1px;
}
.feedback__row-select.opened .selectbox__display:hover {
  background: #edecec;
}
.feedback__row-select.opened .selectbox__dropdown {
  left: 0;
  right: 0;
}
.feedback__row-select .selectbox__dropdown {
  position: absolute;
  top: 100%;
  left: -9999px;
  right: auto;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-top: 0 none;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  width: 51px;
  z-index: 1000;
}
.feedback__row-select .selectbox__inner {
  position: relative;
}
.feedback__row-select .selectbox__display {
  width: 51px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.feedback__row-select .selectbox__display:before,
.feedback__row-select .selectbox__display:after {
  content: "";
  display: table;
}
.feedback__row-select .selectbox__display:after {
  clear: both;
}
.feedback__row-select .selectbox__display-title {
  float: left;
  width: 20px;
}
.feedback__row-select .selectbox__title-text {
  font-size: 12px;
  line-height: 26px;
  color: #686868;
  padding-left: 11px;
  height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feedback__row-select .selectbox__display-btn {
  width: 26px;
  float: left;
  height: 26px;
  background: transparent;
  top: 0;
  right: 0;
  position: absolute;
}
.feedback__row-select .selectbox__btn-icon {
  width: 26px;
  height: 26px;
  background: url('../img/elements/select-tr.png') center center no-repeat;
}
.feedback__row-select .selectbox__dropdown-item.selected .selectbox__item-link {
  background: #edecec;
}
.feedback__row-select .selectbox__item-link {
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  display: block;
}
.feedback__row-select .selectbox__item-link:hover {
  background: #edecec;
}
.feedback__row-select .selectbox__display-btn {
  background-color: #00b9fe;
}
.feedback__row-select .selectbox__title-text {
  padding-left: 4px;
}
.feedback__row-select .selectbox__dropdown {
  max-height: 240px;
  overflow: auto;
}
.feedback__row-select .jspVerticalBar,
.feedback__row-select .jspTrack {
  background-color: transparent !important;
}
.feedback__row-select .jspDrag {
  background: #00b9fe;
  width: 7px;
}
.pictures__link {
  display: block;
}
